[submodule "packages/jiggle"]
	path = packages/jiggle
	url = https://github.com/nanofuxion/jiggle
[submodule "packages/lynxwebsockets"]
	path = packages/lynxwebsockets
	url = https://github.com/nanofuxion/lynxwebsockets
[submodule "packages/tamer-dev-app"]
	path = packages/tamer-dev-app
	url = https://github.com/nanofuxion/tamer-dev-app.git
[submodule "packages/tamer-dev-client"]
	path = packages/tamer-dev-client
	url = https://github.com/nanofuxion/tamer-dev-client.git
[submodule "packages/tamer-plugin"]
	path = packages/tamer-plugin
	url = https://github.com/nanofuxion/tamer-plugin.git
[submodule "packages/tamer-router"]
	path = packages/tamer-router
	url = https://github.com/nanofuxion/tamer-router.git
[submodule "packages/tamer-icons"]
	path = packages/tamer-icons
	url = https://github.com/nanofuxion/tamer-icons.git
[submodule "packages/tamer-insets"]
	path = packages/tamer-insets
	url = https://github.com/nanofuxion/tamer-insets.git
[submodule "packages/tamer-system-ui"]
	path = packages/tamer-system-ui
	url = https://github.com/nanofuxion/tamer-system-ui.git
[submodule "packages/tamer-app-shell"]
	path = packages/tamer-app-shell
	url = https://github.com/nanofuxion/tamer-app-shell.git
[submodule "packages/tamer-text-input"]
	path = packages/tamer-text-input
	url = https://github.com/nanofuxion/tamer-text-input.git
[submodule "packages/tamer-auth"]
	path = packages/tamer-auth
	url = https://github.com/nanofuxion/tamer-auth.git
[submodule "packages/tamer-biometric"]
	path = packages/tamer-biometric
	url = https://github.com/nanofuxion/tamer-biometric.git
[submodule "packages/tamer-display-browser"]
	path = packages/tamer-display-browser
	url = https://github.com/nanofuxion/tamer-display-browser.git
[submodule "packages/tamer-linking"]
	path = packages/tamer-linking
	url = https://github.com/nanofuxion/tamer-linking.git
[submodule "packages/tamer-relog"]
	path = packages/tamer-relog
	url = https://github.com/nanofuxion/tamer-relog.git
[submodule "packages/tamer-screen"]
	path = packages/tamer-screen
	url = https://github.com/nanofuxion/tamer-screen.git
[submodule "packages/tamer-secure-store"]
	path = packages/tamer-secure-store
	url = https://github.com/nanofuxion/tamer-secure-store.git
[submodule "packages/tamer-transports"]
	path = packages/tamer-transports
	url = https://github.com/nanofuxion/tamer-transports.git
