[submodule "packages/jiggle"]
	path = packages/jiggle
	url = https://github.com/tamer4lynx/jiggle
[submodule "packages/tamer-dev-app"]
	path = packages/tamer-dev-app
	url = https://github.com/tamer4lynx/tamer-dev-app.git
[submodule "packages/tamer-dev-client"]
	path = packages/tamer-dev-client
	url = https://github.com/tamer4lynx/tamer-dev-client.git
[submodule "packages/tamer-plugin"]
	path = packages/tamer-plugin
	url = https://github.com/tamer4lynx/tamer-plugin.git
[submodule "packages/tamer-router"]
	path = packages/tamer-router
	url = https://github.com/tamer4lynx/tamer-router.git
[submodule "packages/tamer-icons"]
	path = packages/tamer-icons
	url = https://github.com/tamer4lynx/tamer-icons.git
[submodule "packages/tamer-insets"]
	path = packages/tamer-insets
	url = https://github.com/tamer4lynx/tamer-insets.git
[submodule "packages/tamer-system-ui"]
	path = packages/tamer-system-ui
	url = https://github.com/tamer4lynx/tamer-system-ui.git
[submodule "packages/tamer-app-shell"]
	path = packages/tamer-app-shell
	url = https://github.com/tamer4lynx/tamer-app-shell.git
[submodule "packages/tamer-auth"]
	path = packages/tamer-auth
	url = https://github.com/tamer4lynx/tamer-auth.git
[submodule "packages/tamer-biometric"]
	path = packages/tamer-biometric
	url = https://github.com/tamer4lynx/tamer-biometric.git
[submodule "packages/tamer-display-browser"]
	path = packages/tamer-display-browser
	url = https://github.com/tamer4lynx/tamer-display-browser.git
[submodule "packages/tamer-linking"]
	path = packages/tamer-linking
	url = https://github.com/tamer4lynx/tamer-linking.git
[submodule "packages/tamer-screen"]
	path = packages/tamer-screen
	url = https://github.com/tamer4lynx/tamer-screen.git
[submodule "packages/tamer-secure-store"]
	path = packages/tamer-secure-store
	url = https://github.com/tamer4lynx/tamer-secure-store.git
[submodule "packages/tamer-transports"]
	path = packages/tamer-transports
	url = https://github.com/tamer4lynx/tamer-transports.git
[submodule "packages/docs"]
	path = packages/docs
	url = https://github.com/tamer4lynx/docs.git
[submodule "packages/tamer-host"]
	path = packages/tamer-host
	url = https://github.com/tamer4lynx/tamer-host.git
[submodule "packages/tamer-local-storage"]
	path = packages/tamer-local-storage
	url = https://github.com/tamer4lynx/tamer-local-storage.git
[submodule "packages/tamer-webview"]
	path = packages/tamer-webview
	url = https://github.com/tamer4lynx/tamer-webview.git
[submodule "packages/tamer-env"]
	path = packages/tamer-env
	url = https://github.com/tamer4lynx/tamer-env.git
