# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.tamer
.apps


# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# native
/gradle
packages/example/gradle
/ios/*
/android/*
src/android/gradle
packages/*/android/.gradle
packages/*/android/build
packages/*/android/**/build
packages/*/android/local.properties
packages/*/android/.settings
packages/*/ios/build
packages/*/ios/Pods
packages/*/ios/*.xcworkspace/xcuserdata
packages/*/ios/*.xcodeproj/xcuserdata
packages/*/ios/*.xcodeproj/project.xcworkspace/xcuserdata

# embeddable build
embeddable/android/build
embeddable/android/.gradle
embeddable/android/lib/build
embeddable/ios/build

# temporarily ignore these files
/base
/reference

# local scripts
scripts/build-tamer-packages.sh