# Paste into your app target in Podfile:

pod 'TamerEmbeddable', :path => '/Volumes/Storage/Projects/tamer4lynx/embeddable/ios'
pod 'jiggle', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/jiggle/ios/jiggle'
pod 'tamerbiometric', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-biometric/ios/tamerbiometric'
pod 'tamerdevclient', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-dev-client/ios/tamerdevclient'
pod 'tamerdisplaybrowser', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-display-browser/ios/tamerdisplaybrowser'
pod 'tamericons', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-icons/ios/tamericons'
pod 'tamerinsets', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-insets/ios/tamerinsets'
pod 'tamerlinking', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-linking/ios/tamerlinking'
pod 'tamerrouter', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-router/ios/tamerrouter'
pod 'tamersecurestore', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-secure-store/ios/tamersecurestore'
pod 'tamersystemui', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-system-ui/ios/tamersystemui'
pod 'tamertextinput', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-text-input/ios/tamertextinput'
pod 'tamertransports', :path => '/Volumes/Storage/Projects/tamer4lynx/node_modules/tamer-transports/ios/tamertransports'
pod 'tamerwebview', :path => '/Volumes/Storage/Projects/tamer4lynx/packages/tamer-webview/ios/tamerwebview'
